.App {
  text-align: center;
}

ul {
  list-style: none;
}

.to-get-section {
  border-top: 1px solid black;
}

.section {
  border-bottom: 1px solid black;
}

.to-get-list, .already-have-list {
  padding: 0;
}

.to-get-grocery, .already-have-grocery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.to-get-grocery-name, .already-have-grocery-name {
  margin-left: 50px;
}

.switch-to-already-have-btn, .ran-out-btn {
  height: 30%;
  margin-right: 50px;
  right: 0;
}