* {
  box-sizing: border-box;
  overflow: auto;
}

html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  background-attachment: fixed;
  background-color: rgb(54, 77, 153);
}

header {
  height: 25%;
  padding: 26% 0 0 7%;
}

header h1 {
  text-align: start;
  margin: 0;
}

.view-selection-section {
  height: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.view-selection-btn {
  height: 100%;
  width: 43%;
  font-size: 18px;
  color: white;
  background: none;
  border: none;
  border-bottom: 5px solid black;
  font-weight: bold;
}

.add-to-get-section {
  display: flex;
}

.amount-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center !important;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 15px;
  width: 20% !important;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.amount-input-number {
  margin: 0 18px;
}

.add-name {
  width: 50%;
  margin-right: 2.5%;
}

ul {
  list-style: none;
}

.section {
  border-bottom: 1px solid black;
}

.to-get-list, .already-have-list {
  padding: 0;
}

.grocery {
  width: 85%;
  height: 40px;
  display: flex;
  margin: 10px auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.grocery-name-and-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.to-get-grocery-name, .already-have-grocery-name {
  height: auto;
  margin: 0;
  margin-left: 20px;
}

.switch-to-already-have-btn, .ran-out-btn {
  height: 60%;
  margin-right: 50px;
  right: 0;
}

.grocery-amount {
  margin: 0;
}